*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.b{
    border: 1px solid;
}
.btn{
    outline: 0;
    border: 0;
    padding: 12px 24px;
    border-radius: 4px;
    &:hover{
        box-shadow: 0 0 6px rgb(153, 153, 153);
    }
}
a{
    text-decoration: none;
}